/* Importinh the lato font */
@import "https://fonts.googleapis.com/css?family=Lato|Open+Sans";

/* Initials the margin and padding to zero */
* {
  margin: 0;
  padding: 0;
  width: auto;
}

header {
  width: 100%;
  height: 95vh;
  font-family: "Lato", Arial, sans-serif;
  background: url("imgs/img2.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}
nav {
  top: 0;
  background-color: rgba(255, 187, 0, 0.822);
  opacity: 0.8;
}
/* Navigation properties */
nav ul {
  position: sticky;
  text-align: right;

  padding: 0;
  margin: 0;
}

/* Unordered list that is inside the navigation bar */
nav ul li {
  list-style: none;
  /* float :left; */
  padding: 10px;
  opacity: 0.9;
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  margin-right: 2px;

  text-align: center;
  display: inline-block;
}

nav ul :hover {
  background: red;
  opacity: 0.9;
}
/* Links of the unordered list inside the navigation bar  */
nav ul li a {
  text-decoration: none;
  font-weight: bold;
}

/* Mobile toggle bar */
.toggle {
  width: 100%;
  padding: 10px 20px;
  background: rgb(255, 235, 192);
  text-align: right;
  box-sizing: border-box;
  color: darkslateblue;
  font-size: 30px;
  display: none;
}

/*Display the mobile bar toggle when screen sixe length less than 768 */
@media (max-width: 768px) {
  .toggle {
    display: block;
  }

  nav ul {
    text-align: center;
    width: 100%;
    display: none;
  }

  nav ul li {
    display: block;
    text-align: centre;
  }

  .active {
    display: block;
  }

  nav {
    top: 0;
    background-color: coral;
    opacity: 0.8;
  }
}

/* Text area properties */
.textArea {
  position: absolute;
  top: 60%;
  left: 49%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1rem;
}

/* Common property of the heading and sub heading which inside the text area */
.primaryHeading {
  margin-bottom: 6rem;
}

/* Primary heading which is inside the text area */
.heading {
  display: block;
  font-size: 200%;
  font-weight: 800;
  letter-spacing: 1rem;
  margin-right: -3.5rem;
  color: darkslateblue;
  top:20%;
}

/* Sub heading which is inside the text area */
.headingSub {
  display: block;
  font-weight: 800;
  letter-spacing: 0.3rem;
  margin-right: -1.75rem;
}

.sectionDiv {
  font-family: "Lato", Arial, sans-serif;
  background: rgb(243, 227, 227);
}
section .heading {
  text-align: center;
  text-decoration: underline;
}

section .headingSub {
  text-align: center;
  font-size: 0.1rem;
  font-weight: 100;
  width: 70%;
  margin: 4% 15%;
  /* text-decoration: underline; */
}

/* Aligning the git logo to the centre */
.gitlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  opacity: 0.9;
}

.aboutMeDiv {
  font-family: "Lato", Arial, sans-serif;
  background-color: coral;
  padding: 0;
  margin: 0;
}
/* Changing the color of the text of the hyperlink to github */

#cssGrid {
  width: 90%;
  display: grid;

  grid-template-columns: 100px 100px 100px;
  margin: 0 auto;
}

.item {
  padding: 10px;
}

.primaryHeading2 {
  width: 95%;
}

.wrapper {
  text-emphasis: 14;
  text-align: centre;
  border: 5px black;
  display: inline-block;
  border-radius: 10%;
  opacity: 0.7;
  height: 100%;
  top: 45%;
  margin: 4% 15%;
}

.wrapper-wrapper{
  position: relative;
  text-align: center;
  text-decoration: underline;
  top:20%;
}



.myWork {
  top: 50%;
}

.imagesDiv {
  text-align: center;
}

.imageSize {
  width: 10%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  height: 15%;
  text-align: center;
}

form {
  margin: 10% auto;
  width: 30%;
}

input {
  padding: 3%;
  text-align: center;
  font-size: inherit;
  width: 110%;
}
textarea {
  width: 116.9%;
}

.contactBtn {
  width: 116.9%;
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "monstserrat";
  cursor: pointer;
  margin: 10px;

  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.btn1 {
  color: #3498db;
  /* font-weight: bold; */
}

.btn1:hover {
  color: #fff;
}

.contactBtn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 180%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
}

.btn1::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn1:hover::before {
  height: 180%;
}
