
*{
  margin:0;
  padding:0;
}

body{
  background-image: url("imgs/img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  
}

.navList{
  float:right;
  list-style: none;
  padding:0;
  margin:0;
}

ul li{
  float :left;
  background-color:coral;
  opacity:0.9;
  width: 100px;
  height:40px;
  line-height: 40px;
  font-size:20px;
}

ul li a{
  text-decoration: none;
  display:block;
  
}

ul li a:hover{
  background-color: green;
}